
<footer>
    <a class="footerName">Copy Right @ 2023</a>
    <nav>
      <a href="#aboutMe">About me</a>
      <a href="#timeLine">Time Line</a>
      <a href="#projects">Projects</a>
      <a href="#contactMe">Contact me</a>
    </nav>
</footer>