
<header id="header">
    <a href="#" class="headerName">Omar Dallah</a>
    <nav>
      <a href="#aboutMe">Über mich</a>
      <a href="#timeLine">Zeitachse</a>
      <a href="#projects">Projekte</a>
      <a href="#contactMe">Kontakt</a>
    </nav>
</header>