<!DOCTYPE html>
<html lang="de">
  <%- include('partials/head')%>
  <body>
    <%- include('partials/header')%>
    <section class="home">
      <div id="particles-js">
        <p class="first">
          Hallo, mein Name ist <span>Omar Dallah, </span>ich mache gerade eine Einstiegsqualifizierung bei Firma axaris software & systeme GmbH
        </p>
      </div>
    </section>
    <section class="aboutMe" id="aboutMe">
      <h1 class="title">Über mich</h1>
      <button class="turn">
        <span title="Klicken Sie hier">**</span>
      </button>
      <div class="cards">
        <div class="card">
          <h3 class="cardTitle">Geburt</h3>
          <p class="cardDetails">am 06.08.2002</p>
          <p class="cardDetails">in Damaskus, Syrien</p>
        </div>

        <div class="card">
          <h3 class="cardTitle">Anschrift</h3>
          <p class="cardDetails">Untere Sonnenbühlstr. 2</p>
          <p class="cardDetails">89173 Lonsee</p>
        </div>

        <div class="card">
          <h3 class="cardTitle">Sprachkenntnisse</h3>
          <p class="cardDetails">Arabisch (Muttersprache),</p>
          <p class="cardDetails">Deutsch (C1)</p>
          <p class="cardDetails">und Englisch</p>
        </div>

        <div class="card">
          <h3 class="cardTitle">EDV-Kenntnisse</h3>
          <p class="cardDetails">Microsoft Office Programme,</p>
          <p class="cardDetails">Adobe Illustrator,</p>
          <p class="cardDetails">Adobe Photoshop,</p>
          <p class="cardDetails">Adobe After Effects,</p>
          <p class="cardDetails">Adobe Premiere Pro,</p>
          <p class="cardDetails">Blender,</p>
          <p class="cardDetails">HTML,</p>
          <p class="cardDetails">CSS,</p>
          <p class="cardDetails">JavaScript,</p>
          <p class="cardDetails">Node.js,</p>
          <p class="cardDetails">MongoDB,</p>
          <p class="cardDetails">C#,</p>
          <p class="cardDetails">PHP</p>
          <p class="cardDetails">und Laravel</p>
        </div>

        <div class="card">
          <h3 class="cardTitle">Hobbys</h3>
          <p class="cardDetails">Zeichnen,</p>
          <p class="cardDetails">Fußball spielen</p>
          <p class="cardDetails">und Musik hören</p>
        </div>

        <div class="card">
          <h3 class="cardTitle">Führerschein</h3>
          <p class="cardDetails">Klasse B</p>
        </div>
      </div>
    </section>

    <section class="timeLine" id="timeLine">
      <h1 class="title">Zeitachse</h1>
      <div class="timeline">
        <div class="container left">
          <div class="content">
            <h2>09.2022 - aktuell</h2>
            <p>Einstiegsqualifizierung (EQ), axaris software & systeme GmbH</p>
            <p class="infoo">
              Robert Bosch Schule-Berufsschule, Ulm, erstes Jahr als FISI
            </p>
          </div>
        </div>

        <div class="container right">
          <div class="content">
            <h2>03.2022 - 07.2022</h2>
            <p>C1 - Deutschkurs, vh Ulm</p>
          </div>
        </div>

        <div class="container left">
          <div class="content">
            <h2>01.2022 - 06.2022</h2>
            <p>Projekt Explorer, Institut Faktori, Ulm</p>
          </div>
        </div>

        <div class="container right">
          <div class="content">
            <h2>04.2021 - 09.2021</h2>
            <p>B2 - Deutschkurs, VHS Künzelsau</p>
          </div>
        </div>

        <div class="container left">
          <div class="content">
            <h2>02.2020 - 03.2021</h2>
            <p>Integrationskurs, VHS Künzelsau</p>
          </div>
        </div>

        <div class="container right">
          <div class="content">
            <h2>09.2017 - 06.2019</h2>
            <p>Wahbe Wahbe-Oberstufe, Damaskus</p>
            <p class="infoo">
              Anerkannter Abschluss der Mittleren Reife durch das
              Regierungspräsidium Stuttgart
            </p>
          </div>
        </div>

        <div class="container left">
          <div class="content">
            <h2>08.2018 - 11.2018</h2>
            <p>Motion Grafik Kurs, Damaskus Universität</p>
          </div>
        </div>

        <div class="container right">
          <div class="content">
            <h2>09.2014 - 06.2017</h2>
            <p>Al-Aksa-Mittelschule, Damaskus</p>
          </div>
        </div>
        <div class="container left">
          <div class="content">
            <h2>09.2008 - 06.2014</h2>
            <p>Al-Nakab-Grundschule, Damaskus</p>
          </div>
        </div>

        <div class="container right">
          <div class="content">
            <h2>06.08.2002</h2>
            <p>Ich bin geboren</p>
          </div>
        </div>
      </div>
    </section>

    <section class="projects" id="projects">
      <h1 class="title">Projekte</h1>
      <div class="cards">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p class="title">Allgemeine Praxis</p>
              <p>Webseite</p>
            </div>
            <div class="flip-card-back">
                
            
              <p class="title">Allgemeine Praxis</p>
              <a href="https://allgemeine-praxis-update.omar-dallah.repl.co/"
                >Visit it</a
              >
            </div>
            <div class="back">
              <p class="title">Allgemeine Praxis</p>
              <img
                class="praxisPhoto"
                src="./allgemeinePraxisScreenShot.jpg"
                alt="ScreenShot"
              />
            </div>
          
              
            
          </div>
        </div>

        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p class="title">Portfolio</p>
              <p>Webseite</p>
            </div>
            <div class="flip-card-back">
              <p class="title">Portfolio</p>
            </div>
            <div class="back">
              <p class="title">Portfolio</p>
              
            </div>
          </div>
        </div>

        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p class="title">Donat</p>
              <p>build</p>
            </div>
            <div class="flip-card-back">
              <p class="title">Donat</p>
            </div>
            <div class="back">
              <p class="title">Donat</p>
              
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="contactMe" id="contactMe">
      <h1 class="title">Kontakt</h1>
      <div class="cards">
      <a href="mailto:omardallah68@gmail.com"><div class="card email">E-Mail</div></a>
      <a href="tel:+491779576859"><div class="card telefonnummer">Telefonnummer</div></a>
      </div>
</div>
    </section>

    <%- include('partials/footer')%>
  </body>
</html>
